body {
  overflow-x: hidden;
}
nav {
  margin-bottom: 60;
}

.navbar .nav-link {
  font-size: 14px;
  text-transform: uppercase;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.dropdown-item {
  font-size: 14px;
  text-transform: uppercase;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  color:rgb(189, 187, 187) !important;
}
.active {
  border-left: #444 3px solid;
  color: #fff !important;
}

#page-header-contact {
  height: 200px;
  background: url('../img/contact.jpg');
  background-position: 0 -360px;
  background-attachment: fixed;
  color: #fff;
  border-bottom: 1px #eee solid;
  padding-top: 50px;
}

#page-header-home {
  height: 250px;
  background: url('../img/home.jpg');
  background-position: 0 -360px;
  background-attachment: fixed;
  color: #fff;
  border-bottom: 1px #eee solid;
  padding-top: 50px;
}

#main-footer {
  color: #fff;
}



nav {
  opacity: 85%;
}

/* https://www.w3schools.com/howto/howto_css_image_text.asp */

/* Centered text */
.centered {
  position: absolute;
  width: 90%;
  max-width: 170px;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2px;
  opacity: 80%;
  text-transform: uppercase;
  text-shadow: 1px 1px red;

}
.checked {
  color: orange;
}

.container-img {
  position: relative;
  text-align: center;
  color: white;
  margin-top: 10px !important;
  width: 100%;
  max-width: 186px;
  margin: 0 auto;
  display: block;
}
.container-movie {
  position: relative;
  text-align: center;
  color: white;
  margin-top: 10px !important;
  max-width: 186px;
  margin: 0 auto;
  display: block;
}

.container-img img{
  width: 100%;
  min-width: 100%;
}
.container-img img:hover{
 opacity: 70%;
}
.container-movie{
  border: none;
}

.container-movie:hover{
  box-shadow: red 2px 2px ;
}

h6 {
  margin-bottom: -4px;
}

#main-footer {
  position: fixed;
  height: 8%;
  left: 0;
  bottom: 0;
  width: 100%;
  opacity: 80%;
}

.mrg-top-40px {
  margin-top: 40px;
  text-shadow: 2px 2px grey;
}


.img-fluid {
  max-width: 100px;
}
.lead {
  text-shadow: 1px 1px gray;
}

.fa-play:hover {
   color: red !important;
}